# Auto detect text files and perform LF normalization
*.flutter linguist-detectable=true
*.cpp linguist-detectable=false
*.CMake linguist-detectable=false
*.Dart linguist-detectable=false
*.HTML linguist-detectable=false
*.Swift linguist-detectable=false
*.C linguist-detectable=false
